* {
    padding: 0;
    margin: 0;
}

.titulo {
    color: rgb(16, 51, 207);
    padding-top: 10px;
}

body {
    background-image: linear-gradient(150deg, white, rgb(16, 51, 207));
    height: 65vh;

}

input::placeholder {
    color: rgba(16, 51, 207);
}

#name {
    height: 30px;
    width: 250px;
    font-size: large;
    border: 1px solid rgb(17, 13, 255);
    border-radius: 3px;
}

#email {
    height: 30px;
    width: 250px;
    font-size: large;
    border: 1px solid rgb(17, 13, 255);
    border-radius: 3px;
}

button {
    height: 40px;
    width: 200px;
    background-color: rgb(234, 234, 241);
    color: rgb(16, 51, 207);
    border: 1px solid rgb(17, 13, 255);
    border-radius: 5px;
}

footer {
    color: white;
}